*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

html{
    font-size:62.5%;
}
body{
  transition: all .4s linear;
    overflow-x:hidden;
    font-family:"Inter",sans-serif
}

li{
    list-style: none;
}
a,input,button,textarea{
    display: block;
    font: inherit;
    color: inherit;
    text-decoration: none;
}